*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #0a0a0a;
}
.container
{
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.iframe_contact
{
    flex-basis: 50%;
    /*padding: 40px 60px;*/
    border: 1px solid white;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 15px;
}
form
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    height: 450px;
}
.contact-form
{
    flex-basis: 50%;
    /*padding: 40px;*/
}
.input-row
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row.input-group
{
    flex-basis: 45%;
}
input
{
    width: 80%;
    background-color: #282222;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
textarea
{
    width: 100%;
    background-color: #282222;
    border: none;
    font-size: 16px;
    color: black;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
label
{
    margin-bottom: 6px;
    display: block;
    color: #ffff;
}
button
{
    background: #0a0a0a;
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    color: white;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;

}
.contact-form h3
{
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.container h3
{
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}